@import url("https://fonts.gstatic.com"); 
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

html, body {
    height: 100%;
    width:100%; 
}

body{
    font-family: Montserrat, "Roboto", Helvetica, Arial, "sans-serif";
    font-size: 1rem;
    background-color: #FFFCF8;
  }

h1{
    color: #FFFCF8;
    font-size: 200%;
  }

  ul, li{
    list-style: none;
  }
.burger{
    position: fixed;
    top: 30px;
    right: 20px;
    padding: 8px 0;
    cursor: pointer;
    z-index: 200;
    mix-blend-mode: difference;
  }
  .burger span,
  .burger span:before,
  .burger span:after{
    display: block;
    height: 2px;
    width: 30px;
    background-color: #383838;
    transition: 0.3s;
    transform-origin: center;
  }
  .burger span:before,
  .burger span:after{
    content: "";
    position: absolute;
    left: 0;
    pointer-events: none;
  }
  .burger span:before{ top: 0px;}
  .burger span:after{ bottom: 0px;}
  
  .burger:hover span,
  .burger.active span{
    background-color: rgba(255,255,255,0);
  }
  .burger.active span:before,
  .burger:hover span:before{
    transform: rotate(45deg);
    top: 8px;
  }
  .burger.active span:after,
  .burger:hover span:after{
    transform: rotate(135deg);
    top: 8px;
  }
  header{
    position: fixed;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#eb237a, rgb(194, 131, 157));
    z-index: 100;
    width: 200px;
    transform: translateX(310px);
    padding: 2em 2em;
  }
  
.img-header {
  padding:2rem 0 1rem 2rem;
}

  header.open{
    transform: translateX(0);
  }
  
  header nav a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    transition: 0.4s;
    display: block;
    padding: 0.1em;

  }
  /*********** 07. Pour la transition de timeline sur les textes de menus **********/
header ul li {
    opacity: 100;
  }
  
  header nav a:hover{
    text-indent: 20px;
  }

.selection{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.selection h1{
  margin-top: 3.5rem;
  margin-left: 2rem;
}
.selection img{
  width: 50%;
}
  zone0{
    text-align: center;
  }
  .zone1 {
    padding: 10%;
    background-color: #59C3FF;
  }

  .zone2 {
    padding: 10%;
    background-color: #FF7199;
  }

  .zone3 {
    padding: 10%;
    background-color: #FBC53D;
  }

  .zone4 {
    padding: 10%;
    background-color: #64DAA6;
  }

  .zone5 {
    padding: 10%;
    background-color: #9AD9DB;
  }

  .zone6 {
    padding: 10%;
    background-color: #EB96AA;
  }

  .zone7 {
    padding: 10%;
    background-color: #BDB2FF;
  }

  .zone8 {
    padding: 10%;
    background-color: #F8AD9D;
  }

  .popcontainer {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
  .btn {
    padding: 10px 20px;
    background: none;
    outline: none;
    border: 1px solid white;
    color: white;
    border-radius: 25px;
    margin-top: 10px;
}

.btn:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.popmodal-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.popmodal {
    color: white;
    background-color: rgba(248, 173, 157, 1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 500px;
    height: 300px;
}

.popmodal-content {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.popheader {
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.poplogo {
    font-family: 'Lobster';
    font-size: 35px;
}

.poptagline {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
}

input[type=text] {
    padding: 8px;
    outline: none;
    border: 3px solid white;
    background-color: rgba(248, 173, 157, 1);
    color: white;
    text-align: center;
}

::placeholder {
    color: white;
}

.popsubscribe {
    padding: 11px;
    text-transform: uppercase;
    background-color: white;
    outline: none;
    border: none;
    color: rgba(248, 173, 157, 1);
    font-weight: 700;
}

.popclose_btn {
    background: transparent;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    outline: none;
    border: none;
    margin-right: 15px;
    margin-top: 10px;
}
@media screen and (max-width:900px) { 
  h1{
    font-size: 150%;
  }
  
}