@import url("https://fonts.gstatic.com"); 
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
* {
  font-family: Montserrat, "Roboto", Helvetica, Arial, "sans-serif";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
html, body {
  height: 100%;
  width:100%; 
}

body {
  background-color: #FF7199;
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  color: #dfe4ea;
}
.burger{
  position: fixed;
  top: 30px;
  right: 20px;
  padding: 8px 0;
  cursor: pointer;
  z-index: 200;
  mix-blend-mode: difference;
}
.burger span,
.burger span:before,
.burger span:after{
  display: block;
  height: 2px;
  width: 30px;
  background-color: #383838;
  transition: 0.3s;
  transform-origin: center;
}
.burger span:before,
.burger span:after{
  content: "";
  position: absolute;
  left: 0;
  pointer-events: none;
}
.burger span:before{ top: 0px;}
.burger span:after{ bottom: 0px;}

.burger:hover span,
.burger.active span{
  background-color: rgba(255,255,255,0);
}
.burger.active span:before,
.burger:hover span:before{
  transform: rotate(45deg);
  top: 8px;
}
.burger.active span:after,
.burger:hover span:after{
  transform: rotate(135deg);
  top: 8px;
}
header{
  position: fixed;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#eb237a, rgb(194, 131, 157));
  z-index: 100;
  width: 200px;
  transform: translateX(310px);
  padding: 2em 2em;
}

.back {
display:flex;
width: 50px;
height: 50px;
position: 0 0;
}
.zone1{
background-color: #FFFCF8;
}
header.open{
  transform: translateX(0);
}

header nav a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.4s;
  display: block;
  padding: 0.1em;

}
/*********** 07. Pour la transition de timeline sur les textes de menus **********/
header ul li {
  opacity: 100;
}

header nav a:hover{
  text-indent: 20px;
}
.code{
display: flex;
padding: 2rem;

}
.code h1{
padding-left: 35%;
color: #fff;
}
.code img{
width: 100%;
height: 100%;
}

.filles{
display: flexß;
width:80%;
text-align: center;
padding-left: 28%;
}

body h1 {
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 3rem;
}
body h1 span, body h1 i {
  color: white;
}
body h3 {
  color: white;
  font-size: 1.5rem;
}
body .container .choices {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto 3rem;
  width: 500px;
}
body .container .choices button {
  flex: 1 0 45%;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 0.4rem;
  outline: none;
  background: #dfe4ea;
  user-select: none;
  font-weight: 600;
}
body .container .choices button:hover {
  color: #7C40EE;
  background: white;
  transition: 0.5s;
}
body .container .choices button:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}
body .container .choices button p {
  font-size: 1.3rem;
}
body #progress {
  font-size: 1.3rem;
  color: white;
}

/*# sourceMappingURL=style.css.map */
