@import url("https://fonts.gstatic.com"); 
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
* {
  font-family: Montserrat, "Roboto", Helvetica, Arial, "sans-serif";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* text-align: center; */
}
html, body {
  height: 100%;
  width:100%; 
}

body {
  background-color: #FF7199;
  display: grid;
/*   align-items: center;
  justify-items: center; */
  /* min-height: 100vh; */
  color: #dfe4ea;
}

h2{
  text-align: center;
  color: black;
  font-size: 100%;
}

h3{
padding: 1rem 0 0 0 ;
color: #7A42EE;
font-size: 100%;
}
h4{
  text-align: right;
  padding-right: 90px;
  color: #fff;
  font-size: 100%;
  opacity: 50%;
}
p{
  text-align: center;
}

ul, li{
  list-style: none;
}

.burger{
  position: fixed;
  top: 30px;
  right: 20px;
  padding: 8px 0;
  cursor: pointer;
  z-index: 200;
  mix-blend-mode: difference;
}
.burger span,
.burger span:before,
.burger span:after{
  display: block;
  height: 2px;
  width: 30px;
  background-color: #383838;
  transition: 0.3s;
  transform-origin: center;
}
.burger span:before,
.burger span:after{
  content: "";
  position: absolute;
  left: 0;
  pointer-events: none;
}
.burger span:before{ top: 0px;}
.burger span:after{ bottom: 0px;}

.burger:hover span,
.burger.active span{
  background-color: rgba(255,255,255,0);
}
.burger.active span:before,
.burger:hover span:before{
  transform: rotate(45deg);
  top: 8px;
}
.burger.active span:after,
.burger:hover span:after{
  transform: rotate(135deg);
  top: 8px;
}
header{
  position: fixed;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#eb237a, rgb(194, 131, 157));
  z-index: 100;
  width: 200px;
  transform: translateX(310px);
  padding: 2em 2em;
}
.img-header {
  padding:2rem 1rem 1rem 2rem;
}

.back {
display:flex;
width: 50px;
height: 50px;
position: 0 0;
}
.zone1{
background-color: #FFFCF8;
height: 70px;
}
header.open{
  transform: translateX(0);
}

header nav a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.4s;
  display: block;
  padding: 0.1em;

}
/*********** 07. Pour la transition de timeline sur les textes de menus **********/
header ul li {
  opacity: 100;
}

header nav a:hover{
  text-indent: 20px;
}

.code{
  display: flex;
  align-items: center;
}

.code h1{
  display: flex;
  font-size: 25px;
  color: #fff;
  margin: auto;
}
.code img{
  width: 100%;
  height: 100%;
}

.filles{
  display: flex;
  width:80%;
  text-align: center;
  padding-left: 28%;
}

.carte {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative; 
  width: 300px !important;
  height: 300px !important;
  border-radius: 6px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4399999976158142);
  z-index: 10; 
  color:black;
  /* display: inline-flexbox; */
  font-size: 1.2rem;
  background-color:white;
}
.carte p{
  padding-bottom: 50px;
  color: #c8bedb;
}

/* .carte1 {
  position: relative; 
  width: 250px !important;
  height: 380px !important;
  border-radius: 6px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4399999976158142);
  color:black;
  text-align: left;
  font-size: 1rem;
  background-color:white;
  padding: 2rem;

} */

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.buttonrose {
  z-index: 20; 
  position:relative;
  background-color:#FF006E;
  text-decoration-line: none;
  color: white;
  border-radius: 15px;
  width: 300px;
  padding: 15px 32px; 
  transition: .3s ease-in-out;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4399999976158142);
}

.buttonrose:hover {
  transform:scale(1.05); /* Safari et Chrome */  
  background-color: rgb(194, 1, 97);
}
.toutpublic{
  position: relative; 
  width: 400px !important;
  height: 800px !important;
  border-radius: 6px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4399999976158142);
  color:black;
  text-align: left !important;
  font-size: 1rem;
  background-color:white;
  padding: 2rem;
}
.acne{
  color: #7A42EE;
  flex: 1 0 45%;
  width: 300px;
  height: 40px !important;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  background: white;
  font-weight: 300;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body h1 {
   /* text-transform: uppercase; */
  font-size: 1rem;
  text-align: left;
}

body h1 span, body h1 i {
  color: white;
}
body h3 {
  color: white;
  font-size: 1.5rem;
}
body .container .choices {
  display: relative;
  /* flex-wrap: wrap; */
  
  width: 500px;
}
body .container button {
  flex: 1 0 45%;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin: 0.4rem;
  outline: none;
  background: white;
  user-select: none;
  font-weight: 600;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body .container .choices button:hover {
  color: #7C40EE;
  background: #FEF8F5;
  transition: 0.5s;
}
body .container .choices button:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}
body .container .choices button p {
  font-size: 1rem;
}
body #progress {
  font-size: 1.3rem;
  color: white;
}

/*# sourceMappingURL=style.css.map */

