@import url("https://fonts.gstatic.com"); 
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

html, body {
    height: 100%;
    width:100%;
    
}

body{
    font-family: Montserrat, "Roboto", Helvetica, Arial, "sans-serif";
    font-size: 1rem;
    background-color: #FFFCF8;
  
  }

header{
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0px 1px 6px rgba(251, 199, 66, 0.3));
    padding: 2%;
  }

header img {
    width: 157px;
    height: 38px;
    left: 53px;
    top: 13px;
}

header nav ul li{
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
  }

header nav ul li a{
    display: flex;
    text-decoration: none;
    color: rgba(35,35,35,1);
    padding: 1em;
    justify-content: space-between;
    top:175px;
    left:35px;
    margin-top: 0px;
    margin-left: 400spx;
  }

li {
    list-style-type: none;
    display: flexbox;
}

input {
  fill-opacity: #FF428A;
width: 233px;
height: 75px;
left: 110px;
top: 566px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.zone1 {
  display: flex;
  background-color: #FFFCF8;
  padding: 10%;
  background-repeat: no-repeat;
  justify-content: space-between;
}

.titre {
 color: #201F1F;
 font-size: 170%;
 margin-top: 5px;
}

.text{
  margin-top: 10px;
}

.zone2 {
  background-image: url(img/forme.svg);
  background-size: 100%;
  text-align: center;
  padding: 15%;
}

.zone2-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

.block {
  text-align: center;
  background-color: #A073A7;
  border-radius: 5px;
  padding: 2rem 1rem;
  margin-top: 10px;
}
.zone3 {
  background-image: url(img/3forms.svg);
  background-size: 90%;
  padding: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}
.zone4 {
  background-image: url(img/arc.svg);
  background-size: 100%;
  padding: 30%;
  background-repeat: no-repeat;
}

.zone5 {
  background-image: url(img/fond5.svg);
  padding: 30%;
}

.button {
  display: block;
  background-color:#FF428A ;
  text-decoration-line: none;
  color: white;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  padding: 15px 32px; 
  margin-top : 30px;
}

footer {
font-size: 10px;
display: flex;
justify-content: space-between;
padding: 1rem;
}



